.footer {
  &__logo {
    background-image: url(../../img/logo-long-dark.png);
    background-position: left center;
    height: 60px;
  }

  &__navlink {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
