.product-card {
  height: 340px;
  transition: all 0.2s linear;

  .card-body {
    flex: 0 0 auto;
  }

  &__img {
    height: 225px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.2s linear;
  }
}

@include media-breakpoint-up(md) {
  .product-card {
    height: 285px;
    transition: all 0.2s linear;

    .card-footer {
      visibility: hidden;
      transition: all 0.2s linear;
    }
  }

  .product-card:hover {
    & .product-card {
      &__img {
        height: 170px;
        transition: all 0.2s linear;
      }
    }

    .card-footer {
      visibility: visible;
      transition: all 0.2s linear;
    }
  }
}
