.logo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.json-new-line {
  white-space: pre-line;
}
