@import "~bootstrap/scss/functions";

@import "./variables";
@import "~bootstrap/scss/bootstrap";

// Utilities
@import "./utilities";

$utilities: map-merge(
  $utilities,
  (
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "line-height"), "values"),
              (
                md: $line-height-md
              )
            )
        )
      )
  )
);
@import "bootstrap/scss/utilities/api";

// Tools
@import "./tools";

// Components
@import "./navbar";
@import "./product-card";
@import "./footer";

// pages
@import "./delivery";
