@import "~bootstrap/scss/functions";

@import "./variables";
@import "~bootstrap/scss/bootstrap";

// Utilities
@import "./utilities";

$utilities: map-merge(
  $utilities,
  (
    "line-height":
      map-merge(
        map-get($utilities, "line-height"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "line-height"), "values"),
              (
                md: $line-height-md,
              )
            ),
        )
      ),
    "rounded": (
      responsive: true,
      property: border-radius,
      class: rounded,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-2xl),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill),
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

// Tools
@import "./tools";

// Components
@import "./components/navbar";
@import "./components/product-card";
@import "./components/footer";

// pages
@import "./pages/home";
@import "./pages/product-detail";
@import "./pages/about";
@import "./pages/delivery";
@import "./pages/cart";
@import "./pages/checkout";
@import "./pages/order-success";
